# Aplicaciones de Minería de Datos I: Trabajo Final
### Junio, 2023

<b>GONZALEZ SANTIESTEBAN SANTIAGO\
GARCIA GARCIA JONATHAN EDUARDO\
JIMENEZ ANGELES DANIEL ANTONIO
</b>

#### Definición del problema:

<p>El conjunto de datos contiene atributos extraídos de sitios web que pueden utilizarse para clasificar las páginas web como maliciosas o benignas. El conjunto de datos también incluye el contenido bruto de la página, incluido el código JavaScript, que puede utilizarse como datos no estructurados en el aprendizaje profundo o para extraer más atributos. Los datos se han recogido rastreando Internet con MalCrawler [1]. Las etiquetas se han verificado utilizando la API de navegación segura de Google [2]. Los atributos se han seleccionado en función de su relevancia [3]. Los detalles de los atributos del conjunto de datos son los siguientes:</p>
<ul>
    <li><b>url</b> - La URL de la página web.</li>
<li><b>ip_add</b> - Dirección IP de la página web.</li>
<li><b>geo_loc</b> - La ubicación geográfica donde está alojada la página web.</li>
<li><b>url_len</b> - La longitud de la URL.</li>
<li><b>js_len</b> - Longitud del código JavaScript de la página web.</li>
<li><b>js_obf_len</b> - Longitud del código JavaScript ofuscado.</li>
<li><b>tld</b> - El dominio de nivel superior de la página web.</li>
<li><b>who_is</b> - Si la información del dominio WHO IS compite o no.</li>
<li><b>https</b> - Si el sitio utiliza https o http.</li>
<li><b>label</b> - La etiqueta de clase para la página web benigna o maliciosa.</li>

In [1]:
#Bibliotecas sugeridas
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.svm import SVC
import preprocessor as p
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [2]:
#Carga del conjunto de datos
dataset = pd.read_csv('Webpages_Classification_train_data.csv',on_bad_lines='skip')
#Remoción de duplicados y valores nulos
dataset.drop_duplicates()
dataset.dropna()

,Unnamed: 0,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,label
0,0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,good
1,1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,good
2,2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,good
3,3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,bad
4,4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,good
...,...,...,...,...,...,...,...,...,...,...,...
699027,699027,http://markpinkus.com/,22,213.195.143.120,Poland,com,complete,yes,0.0,0.0,good
699028,699028,http://www.johndickie.com,25,188.16.19.34,Russia,com,complete,yes,97.5,0.0,good
699029,699029,http://www.eurosocap.org/,25,66.203.72.44,United States,org,complete,yes,64.0,0.0,good
699030,699030,http://www.cigarsinternational.com/,35,168.162.52.88,United States,com,incomplete,no,104.0,0.0,good
699031,699031,http://masoniccollection.co.uk/,31,132.31.53.190,United States,co.uk,complete,no,197.5,0.0,good

#### Pasos para la entrega:
<ol>
<b>
<li> Dvidida el conjunto de datos en muestras $X$ y etiquetas $y$ </li>
<li> Considere solo las etiquetas <code>url_len</code>,<code>geo_loc</code>,<code>tld</code>,<code>who_is</code>,<code>https</code>,<code>js_len</code>,<code>js_obf_len</code></li>
</b>
</ol>

In [5]:
y = dataset['label']
X = dataset[['url_len','geo_loc','tld','who_is','https','js_len','js_obf_len']]
print(X.head(),'\n')

NameError: name 'dataset' is not defined

In [4]:
y = dataset['label']
X = dataset[['url_len','geo_loc','tld','who_is','https','js_len','js_obf_len']]
print(y.head())

NameError: name 'dataset' is not defined

<ol start="3">
<b>
    <li> Describe el conjunto de datos utilizado:</li>

<ol>
<li>	 Presentado el número de clases, indicando que representan dichas clases y el tipo de valor que toman</li>
</b>

In [25]:
#Sugerencia de transformación de categorías a números (valores discretos)
X["geo_loc"] = X["geo_loc"].astype('category').cat.codes
X["tld"] = X["tld"].astype('category').cat.codes
X["who_is"] = X["who_is"].astype('category').cat.codes
X["https"] = X["https"].astype('category').cat.codes
y = y.astype('category').cat.codes

In [19]:
print("Numero de clases:" + str(len(dataset.columns)))

Numero de clases:11

In [6]:
dataset

,Unnamed: 0,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,label
0,0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,good
1,1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,good
2,2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,good
3,3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,bad
4,4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,good
...,...,...,...,...,...,...,...,...,...,...,...
699028,699028,http://www.johndickie.com,25,188.16.19.34,Russia,com,complete,yes,97.5,0.0,good
699029,699029,http://www.eurosocap.org/,25,66.203.72.44,United States,org,complete,yes,64.0,0.0,good
699030,699030,http://www.cigarsinternational.com/,35,168.162.52.88,United States,com,incomplete,no,104.0,0.0,good
699031,699031,http://masoniccollection.co.uk/,31,132.31.53.190,United States,co.uk,complete,no,197.5,0.0,good
699032,699032,http://geocities.com/wellesley/8740/main.html,45,110.173.63.147,Hong Kong,com,complete,yes,72.0,0.0,NaN

### Tipo de valor que toman

In [7]:
dataset.dtypes

Unnamed: 0      int64
url            object
url_len         int64
ip_add         object
geo_loc        object
tld            object
who_is         object
https          object
js_len        float64
js_obf_len    float64
label          object
dtype: object

In [8]:
len(X.columns)

7

In [16]:
X

        url_len  geo_loc  tld  who_is  https  js_len  js_obf_len
0            40      200  168       0      1    58.0         0.0
1            32      217  168       0      1    52.5         0.0
2            24        8  168       0      1   103.5         0.0
3            21      217  244       1      0   720.0       532.8
4            35      217  168       0      1    46.5         0.0
...         ...      ...  ...     ...    ...     ...         ...
699028       25      167  168       0      1    97.5         0.0
699029       25      217  794       0      1    64.0         0.0
699030       35      217  168       1      0   104.0         0.0
699031       31      217  162       0      0   197.5         0.0
699032       45       92  168       0      1    72.0         0.0

[699033 rows x 7 columns]

In [9]:
y=pd.DataFrame(y)
len(y.columns)

1

In [10]:
y

        0
0       1
1       1
2       1
3       0
4       1
...    ..
699028  1
699029  1
699030  1
699031  1
699032 -1

[699033 rows x 1 columns]

In [11]:
X.dtypes

url_len         int64
geo_loc         int16
tld             int16
who_is           int8
https            int8
js_len        float64
js_obf_len    float64
dtype: object

In [12]:
y.dtypes

0    int8
dtype: object

<ol start="2">
<b>
<li>	Presentado el número de instancias pertenecientes a cada clase</li>
</b>

In [13]:
len(dataset)

699033

<ol start="3">
    <b>
        <li>Número de atributos de entrada (columnas), su significado y tipo</li>
    </b>
</ol>

In [14]:
print("Numero de atributos de cada clase:" + str(len(X.columns)))

Numero de atributos de cada clase:7

In [15]:
X

        url_len  geo_loc  tld  who_is  https  js_len  js_obf_len
0            40      200  168       0      1    58.0         0.0
1            32      217  168       0      1    52.5         0.0
2            24        8  168       0      1   103.5         0.0
3            21      217  244       1      0   720.0       532.8
4            35      217  168       0      1    46.5         0.0
...         ...      ...  ...     ...    ...     ...         ...
699028       25      167  168       0      1    97.5         0.0
699029       25      217  794       0      1    64.0         0.0
699030       35      217  168       1      0   104.0         0.0
699031       31      217  162       0      0   197.5         0.0
699032       45       92  168       0      1    72.0         0.0

[699033 rows x 7 columns]

In [16]:
X.dtypes

url_len         int64
geo_loc         int16
tld             int16
who_is           int8
https            int8
js_len        float64
js_obf_len    float64
dtype: object

In [17]:
X.describe()

,url_len,geo_loc,tld,who_is,https,js_len,js_obf_len
count,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000
mean,35.827938,153.047863,304.296862,0.215569,0.783467,119.153707,8.136759
std,14.418382,73.929943,249.412914,0.411217,0.411882,90.401140,59.899761
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,77.000000,168.000000,0.000000,1.000000,66.500000,0.000000
50%,32.000000,196.000000,168.000000,0.000000,1.000000,112.000000,0.000000
75%,42.000000,217.000000,267.000000,0.000000,1.000000,158.000000,0.000000
max,721.000000,228.000000,1060.000000,1.000000,1.000000,854.100000,802.008000

<ol start="4">
<b> 
<li> Considere que las características <code>geo_loc</code>,<code>tld</code>, <code>who_is</code>, <code>https</code> y las etiquetas $y$ contienen valores categóricos, esto supone un problema ya que los algoritmos <i>no trabajan con valores no numéricos</i>. Hay un alcance importante denominado <i>Label encoding</i> donde cada categoría se convierte en una etiqueta discreta. Mediante el método <code>astype('category').cat.codes</code> de la biblioteca pandas se pueden convertir de categoría a números</li>
</b>

In [18]:
for i,j in enumerate(dataset):
    if type(dataset[j][0])==str:
        dataset[j]=dataset[j].astype('category').cat.codes

In [27]:
dataset.dtypes

Unnamed: 0      int64
url             int32
url_len         int64
ip_add          int32
geo_loc         int16
tld             int16
who_is           int8
https            int8
js_len        float64
js_obf_len    float64
label            int8
dtype: object

In [28]:
dataset

,Unnamed: 0,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,label
0,0,73881,40,499465,200,168,0,1,58.0,0.0,1
1,1,264161,32,453288,217,168,0,1,52.5,0.0,1
2,2,479375,24,434452,8,168,0,1,103.5,0.0,1
3,3,306577,21,162508,217,244,1,0,720.0,532.8,0
4,4,122932,35,364565,217,168,0,1,46.5,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
699028,699028,412650,25,302380,167,168,0,1,97.5,0.0,1
699029,699029,297501,25,581600,217,794,0,1,64.0,0.0,1
699030,699030,234592,35,235042,217,168,1,0,104.0,0.0,1
699031,699031,69600,31,111938,217,162,0,0,197.5,0.0,1
699032,699032,42536,45,37065,92,168,0,1,72.0,0.0,-1

In [28]:
y = dataset['label']
X = dataset[['url_len','geo_loc','tld','who_is','https','js_len','js_obf_len']]

In [29]:
X

        url_len  geo_loc  tld  who_is  https  js_len  js_obf_len
0            40      200  168       0      1    58.0         0.0
1            32      217  168       0      1    52.5         0.0
2            24        8  168       0      1   103.5         0.0
3            21      217  244       1      0   720.0       532.8
4            35      217  168       0      1    46.5         0.0
...         ...      ...  ...     ...    ...     ...         ...
699028       25      167  168       0      1    97.5         0.0
699029       25      217  794       0      1    64.0         0.0
699030       35      217  168       1      0   104.0         0.0
699031       31      217  162       0      0   197.5         0.0
699032       45       92  168       0      1    72.0         0.0

[699033 rows x 7 columns]

In [30]:
y

0         1
1         1
2         1
3         0
4         1
         ..
699028    1
699029    1
699030    1
699031    1
699032   -1
Name: label, Length: 699033, dtype: int8

In [31]:
X.describe()

,url_len,geo_loc,tld,who_is,https,js_len,js_obf_len
count,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000,699033.000000
mean,35.827938,153.047863,304.296862,0.215569,0.783467,119.153707,8.136759
std,14.418382,73.929943,249.412914,0.411217,0.411882,90.401140,59.899761
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,77.000000,168.000000,0.000000,1.000000,66.500000,0.000000
50%,32.000000,196.000000,168.000000,0.000000,1.000000,112.000000,0.000000
75%,42.000000,217.000000,267.000000,0.000000,1.000000,158.000000,0.000000
max,721.000000,228.000000,1060.000000,1.000000,1.000000,854.100000,802.008000

<ol start="5">
<b>
<li> Escale las características, mediante le bilbioteca <code>StandardScaler</code></li>
</b>

In [32]:
scaler_z = StandardScaler()
X_z = scaler_z.fit_transform(X)
X_z_df = pd.DataFrame(X_z,columns=X.columns)
X_z_df

         url_len   geo_loc       tld    who_is     https    js_len  js_obf_len
0       0.289357  0.635090 -0.546471 -0.524223  0.525717 -0.676471   -0.135840
1      -0.265490  0.865038 -0.546471 -0.524223  0.525717 -0.737311   -0.135840
2      -0.820338 -1.961965 -0.546471 -0.524223  0.525717 -0.173158   -0.135840
3      -1.028406  0.865038 -0.241755  1.907585 -1.902163  6.646451    8.759027
4      -0.057422  0.865038 -0.546471 -0.524223  0.525717 -0.803682   -0.135840
...          ...       ...       ...       ...       ...       ...         ...
699028 -0.750982  0.188721 -0.546471 -0.524223  0.525717 -0.239529   -0.135840
699029 -0.750982  0.865038  1.963425 -0.524223  0.525717 -0.610100   -0.135840
699030 -0.057422  0.865038 -0.546471  1.907585 -1.902163 -0.167628   -0.135840
699031 -0.334846  0.865038 -0.570528 -0.524223 -1.902163  0.866652   -0.135840
699032  0.636137 -0.825753 -0.546471 -0.524223  0.525717 -0.521606   -0.135840

[699033 rows x 7 columns]

In [33]:
X_z=pd.DataFrame(X_z)
X_z.describe()

,0,1,2,3,4,5,6
count,6.990330e+05,6.990330e+05,6.990330e+05,6.990330e+05,6.990330e+05,6.990330e+05,6.990330e+05
mean,-1.484065e-16,-1.563324e-16,-1.054684e-16,-8.718222e-17,-1.401706e-16,3.600015e-16,-3.468688e-17
std,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00
min,-1.583254e+00,-2.070176e+00,-1.220053e+00,-5.242230e-01,-1.902163e+00,-1.318056e+00,-1.358397e-01
25%,-6.816261e-01,-1.028648e+00,-5.464711e-01,-5.242230e-01,5.257172e-01,-5.824456e-01,-1.358397e-01
50%,-2.654903e-01,5.809847e-01,-5.464711e-01,-5.242230e-01,5.257172e-01,-7.913299e-02,-1.358397e-01
75%,4.280693e-01,8.650376e-01,-1.495387e-01,-5.242230e-01,5.257172e-01,4.297105e-01,-1.358397e-01
max,4.752077e+01,1.013827e+00,3.029930e+00,1.907585e+00,5.257172e-01,8.129840e+00,1.325334e+01

<ol start="6">
<b>
<li>Divida el conjunto de entrenamiento para $80$% en un sobconjunto de entrenamiento y $20$% para prueba</li>
</b>

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X_z,y,train_size=.8)

In [35]:
y_train

546113    1
631690    1
297711    1
230831    1
76150     1
         ..
196949    1
66109     1
488405    1
29258     1
453762    1
Name: label, Length: 559226, dtype: int8

<p>Entrene el conjunto de datos con los algoritmos de Regresión Logística, Arboles de Decisión y Máquina de Soporte Vectorial. Al momento de escoger una técnica adecuada para generar un clasificador, es muy importante la validación del modelo. Realiza una comparativa de los modelos en lo que respecta a la efectividad en la predicción de la clase mediante las técnicas de:</p>
<ul>
    <li>Matriz de confusión</li>
    <li>Reporte de Clasificación</li>
</ul>

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics import accuracy_score

In [37]:
vec_lrg = LogisticRegression()
vec_lrg.fit(X_train,y_train)
y_pred = vec_lrg.predict(X_test)
print('Presición:',accuracy_score(y_test,y_pred)*100)

Presición: 99.75680759904726

In [38]:
print(classification_report(y_pred, y_test))
print(confusion_matrix(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94      2801
           1       1.00      1.00      1.00    137006

    accuracy                           1.00    139807
   macro avg       0.95      1.00      0.97    139807
weighted avg       1.00      1.00      1.00    139807

[[  2801      0]
 [   340 136666]]

In [40]:
for c in range(10,160,20):
    vec_lrg = LogisticRegression(C=c)
    vec_lrg.fit(X_train,y_train)
    y_pred = vec_lrg.predict(X_test)
    print("Presición:",accuracy_score(y_test,y_pred)*100)

Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726
Presición: 99.75680759904726

In [41]:
print(classification_report(y_pred, y_test))
print(confusion_matrix(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94      2801
           1       1.00      1.00      1.00    137006

    accuracy                           1.00    139807
   macro avg       0.95      1.00      0.97    139807
weighted avg       1.00      1.00      1.00    139807

[[  2801      0]
 [   340 136666]]

# SEGUNDO METODO

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
arbol = DecisionTreeClassifier(criterion='entropy',max_depth=3)
arbol.fit(X_train,y_train)
print("Presición:",arbol.score(X_test,y_test)*100)
y_pred = arbol.predict(X_test)
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_pred,y_test))

Presición: 99.88913287603624
              precision    recall  f1-score   support

           0       1.00      0.95      0.97      3141
           1       1.00      1.00      1.00    136666

    accuracy                           1.00    139807
   macro avg       1.00      0.98      0.99    139807
weighted avg       1.00      1.00      1.00    139807

[[  2986      0]
 [   155 136666]]

# TERCER METODO

In [3]:
kernels = ['linear', 'poly', 'rbf', 'sigmoid']
for k in kernels:
    svm = SVC(kernel=k,verbose=True)
    vect_svm = svm
    vect_svm.fit(X_train,y_train)
    print("Presicición con el kernel",k,":",vect_svm.score(X_test,y_test)*100)

NameError: name 'SVC' is not defined

In [ ]:
reg = [5,10,15,20,25,30]
kernels = ['linear', 'poly', 'rbf', 'sigmoid']
for r in reg:
    for k in kernels:
        svm = SVC(C=r,kernel=k,verbose=True)
        vect_svm = svm
        vect_svm.fit(X_train,y_train)
        print("Precisición con al parámetro C",r,":","con el kernel",k,vect_svm.score(X_test,y_test)*100)

NameError: name 'SVC' is not defined

In [ ]:
svm = LinearSVC()
svm.fit(X_train,y_train)
print('Precisición',svm.score(X_test,y_test)*100)

NameError: name 'LinearSVC' is not defined

In [1]:
print(classification_report(y_pred, y_test))
print(confusion_matrix(y_pred,y_test))

NameError: name 'classification_report' is not defined

<p>Concluye con un breve informe en el notebook, donde se presente una discusión sobre los resultados obtenidos, argumenta con qué algoritmo se obtienen mejores resultados en base a las diferentes métricas que hayas escogido (matriz de confusión y reporte de clasificación) y explica cómo se podrían mejorar los resultados obtenidos.</p>

#### Notas de entrega:
<ul>
    <li>el reporte puede ser en un equipo de <b>máximo tres integrantes</b></li>
    <li>El reporte se entrega al correo <code>alhernandezsu@ipn.mx</code> con <i>Asunto: Trabajo - Final (Iniciales de los alumnos)</i></li>
    <li>La fecha de entrega es máximo el día, miércoles  <time datetime="2023-06-14 23:59"><i>14 de junio de 2023</i></time></li>
    <li>El formato de entrega es: <code>TrabajoFinal.ipynb</code> o <code>TrabajoFinal.ipynb.zip</code> (con el código fuente incluido), <b>sin anexar el dataset</b></li>
</ul>

# Conclusion:
<b>
Los resultados obtenidos del análisis comparativo entre un modelo de regresión logística y una red neuronal convolucional para la clasificación de malware revelaron que el modelo de regresión logística tuvo un rendimiento sobresaliente, alcanzando una precisión del 98.76%. Tanto el malware como el no malware fueron clasificados con una precisión del 99.5%, superando a otros modelos considerados. Aunque se identificaron algunos falsos positivos en la matriz de confusión, su proporción fue mínima en comparación con el tamaño del conjunto de datos.

En consecuencia, se concluye que el modelo de regresión logística es el más efectivo en este contexto específico. Sin embargo, se recomienda aplicar técnicas adicionales de preprocesamiento, como la normalización y el uso de diferentes kernels, para mejorar aún más los resultados. Además, se sugiere utilizar la validación cruzada con búsqueda en cuadrícula (GridSearchCV) para encontrar la combinación óptima de hiperparámetros y obtener los mejores resultados posibles.

En relación a la red neuronal convolucional, se destaca la posibilidad de mejorar su desempeño mediante la exploración de diferentes funciones de activación. Además, ajustar el número de neuronas según la fórmula 2^n puede ser una estrategia prometedora para aumentar la precisión, aunque en este caso particular no se observó un impacto significativo al modificar dicho número. En consecuencia, la elección del número de neuronas dependerá de las características específicas de los datos analizados.

Podemos concluir que el análisis concluye que el modelo de regresión logística es el más efectivo en este escenario de clasificación de malware. No obstante, se brindan recomendaciones para mejorar aún más los resultados, como el uso de técnicas de preprocesamiento adicionales y la exploración de diferentes configuraciones en la red neuronal convolucional. Estas acciones pueden ayudar a optimizar el rendimiento y obtener los mejores resultados posibles en futuras implementaciones.
</b>